h1 {
  text-align: center;
  color: tan;
  font-size: 180px;
  font-family: Garamond
}

img {
  border: solid;
  color: #BDAB8B;
  border-width: 20px
}

body {
  background-color: beige
}

p {
  font-size: 30px;
  font-family: Garamond;
  color: #8C754C
}

ul {
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  position: fixed;
  background-color: white;
  margin: 0;
  top: 0
}

li a {
  display: block;
  padding: 30px 100px;
  float: left;
  color: #8C754C;
  font-size: 20px;
  font-family: Garamond;
}

li a:hover {
  background-color: white;
  color: tan
}

a {
  text-decoration: none
}
